/* main.css */

/* Reset default styles */
body, h1, h3, p, a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Set background color and text color for body */
body {
  background-color: #F8F8F8;
  color: #333;
}

/* Style for navigation bar */
.nav {
  padding: 20px;
  background-color: #FFF;
  text-align: center;
}

/* Style for title */
.title {
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Style for subtitle */
.nav p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #777;
}

/* Style for project links */
.nav h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Add space between project links */
.nav h3:not(:last-child) {
  margin-bottom: 20px;
}

/* Style for project links on hover */
.nav h3:hover {
  color: #FF8C00;
}

/* Style for link animation */
.nav h3 a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #FF8C00;
  transition: width 0.3s ease-in-out;
}

/* Style for link animation on hover */
.nav h3:hover a::after {
  width: 100%;
}
